main {
    margin-top: 100px;
}
.program-section {
    background: rgba(0, 0, 0, 0.201);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

/* SCROLLABLE */
.program-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 30px;
}

.selection {
    display: flex;
    width: 400px;
    position: relative;
    margin-left: 535px;
    margin-top: 80px;
    border-radius: 16px;
    font-family: 'f1';
    letter-spacing: 2px;
}


/* BUTTON INSIDE CARD */
.card button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #ffffff;
    font-family: 'f1';
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #9d9d9d;
}


/* ===== REVIEWS ===== */
.reviews {
    background: rgba(0, 0, 0, 0.201);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.review-card {
    background: #1b1b1b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

/* ===== FORM (65% CENTERED) ===== */
form {
    background: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
form:hover {
   transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(76, 175, 80, 0.5);
}

fieldset {
    border: 4px solid #4CAF50;
    margin-bottom: 15px;
}


legend {
    color: #4CAF50;
}

input, textarea, select {
    width: 97%;
    padding: 8px;
    margin: 8px 0;
}

button{
color: black;
background-color: #08b910;
height:45px;
}

button:hover{
color:rgb(0, 0, 0);
background-color:#07f10f;
cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}

#counter {
    font-size: 12px;
}



/* RESPONSIVE */
@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }
    .program-container {
        flex-wrap: nowrap;
    }
}



