#image-holder {  /*image holder changes*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: 500ms;
    padding: 25px;
    
}

#gallery { /*full gallery changes*/
    margin-top: 220px;
}


.gallery_img { /*image changes*/
    width: 240px;
    height: 320px;
    border-radius: 20px;
    transition: transform 0.4s ease;

}

.gallery_img:hover { /*image on hover changes*/
    transform: scale(1.08);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition-delay: 10ms;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 100px 0 rgba(255, 255, 255, 0.314);
    
}

.class_name { /*class name "Gallery" changes*/
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: 'f1';
    margin-bottom: -50px;
    letter-spacing: 5px;
    position: relative;
    width: 100px;
    left: 675px;
    margin-top: -100px;
}


.class_name::after {  /*animated underline*/
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0%;
    height: 4px;
    background-color: #ffffff7f;
    transition: width 0.6s ease;
}

.class_name:hover::after { /*animation after part*/
    width: 100%;
}