* {      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {  /*body changes*/
    background-color: #ffffff;
    height: 5000px;
}


header {  /*header changes*/
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}


.left-part { /*left part of the nav bar*/
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 40px;
}

.right-part { /*right part of the nav bar*/
    display: flex;
    justify-content: right;
    margin-right: 100px;
    margin-top: 10px;
}


.logo { /*logo changes*/
    width: 250px;
    height: 250px;
    margin-top: -30px;
}


nav ul { /*nav bar changes*/
    display: flex;
    list-style-type: none;
    list-style: none;
    padding-bottom: 10px;
    overflow: hidden;
}

nav li { /*nav bar changes*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    
}


nav li a { /*nav bar changes*/
    display: block;
    color: #D3ECCD;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 12px;

}


nav li a { /* nav bar changes */

    display: block;
    color: #D3ECCD;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 12px;

    position: relative;
}

nav li a::after {  /*animated underline*/

    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #2e7d32;
    transition: width 0.4s ease;
}

nav li a:hover::after { /*animation after part*/
    width: 100%;
}

.background-image { /*background image changes*/
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: auto;
    
}


#image-holder {  /*image holder changes*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: 500ms;
    padding: 25px;
    
}


.gallery_img { /*image changes*/
    width: 240px;
    height: 320px;
    border-radius: 20px;
    transition: transform 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery_img:hover { /*image on hover changes*/
    transform: scale(1.08);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition-delay: 10ms;
    cursor: pointer;
    
}

.class_name { /*class name "Gallery" changes*/
    color: #ff7b00;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 2px 6px  rgb(0, 0, 0);
    margin-bottom: -50px;
}


.image_txt{ /*image text changes*/
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    stroke-width: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.353);
}

.logo_on_home { /*logo on home page changes*/
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}
