@font-face{
    font-family: 'f1';
    src: url(fonts/GiantImpact-Regular.ttf);
}

* {      
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {  /*body changes*/
    background-color: #000000;
}



header {  /*header changes*/
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
}


.left-part { /*left part of the nav bar*/
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 40px;
}

.right-part { /*right part of the nav bar*/
    display: flex;
    justify-content: right;
    margin-right: 100px;
    margin-top: 10px;
}


.nav_logo { /*nav bar logo changes*/
    color: white;
    font-size: 26px;
    font-family: 'f1';
    margin-top: -34px;
    margin-left: 50px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul { /*nav bar changes*/
    display: flex;
    list-style-type: none;
    list-style: none;
    padding-bottom: 10px;
    overflow: hidden;
}

nav li { /*nav bar changes*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

nav li a { /* nav bar changes */

    display: block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 12px;
    position: relative;
}

nav li a::after {  /*animated underline*/

    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #ffffff7f;
    transition: width 0.4s ease;
}

nav li a:not(.active):hover::after { /*animation after part*/
    width: 100%;
}

.active {
    color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.493) 0px 2px 4px, rgba(95, 95, 95, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}

.class_name { /*class name "Gallery" changes*/
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: 'f1';
    margin-bottom: -50px;
    letter-spacing: 5px;
    position: relative;
    justify-content: center;
    cursor: pointer;
}


footer { /*footer styles*/
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    font-family: 'f1';
    letter-spacing: 3px;
}

/* Mission & Goals Section */
#mission-goals {
    background-color: #111;
    color: #fff;
    padding: 80px 20px;
    text-align: center;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 25px;
    max-width: 300px;
    text-align: left;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
}

.card-img {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card h3 {
    font-family: 'f1';
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #ddd;
}

.card ul {
    list-style: disc;
    padding-left: 20px;
    color: #ccc;
}

.card ul li {
    margin-bottom: 8px;
}


.card.selected {
    border: 2px solid #ffffff71;
    box-shadow: 0 0 20px #ffffff71;
}