body {
    margin-top: 100px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.team-card {
    width: 300px;
    height: 480px;
    perspective: 1000px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.team-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.card-front {
    background: rgba(255, 255, 255, 0.05);
    text-align: center;
}

.card-front img {
    width: 100%;
    height: 380px;
    border-radius: 15px;
    margin-bottom: 15px;
}


.teamh2 {
    font-family: 'f1';
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}


.card-back {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}


.role {
    font-family: 'f1';
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 15px;
}


.contribution {
    color: white;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
}
