body{
    margin-top: 100px;
}

main {
    height: 940px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

    align-items: flex-start; 
}

.team-card {
    position: relative;
    background: #1b1b1b;
    width: 280px;
    max-height: 800px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    outline: none;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.255);
}

.team-card img {
    width: 280px;
    height: 440px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.team-name {
    font-family: 'f1';
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}

.role{
    font-family: 'f1';
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.contribution{
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #ddd;
    font-family: 'f1';
    letter-spacing: 1px;
}


.team-card .details {
    background: #1b1b1b;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.4s ease;
    padding: 0 10px;
    font-size: 14px;
}


.team-card:hover .details,
.team-card:focus .details {
    max-height: 400px; 
    padding: 10px;
}

.team-card .details p {
    text-align: center;
    color: white;
}